body {
    margin: 0px;
    padding: 0px;
}

#cart_info{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

#brcm{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table{
    width: 90%;
    margin: auto;
}