@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@300;400;500;700&family=Roboto:wght@500&display=swap');

:root{
    --orange:purple;
}

 *{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
 }
*::selection{
    background: var(--orange);
    color:#fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
.prime-nav{
   top:0;
    left: 0;
    right:0;
    background: Rgb(217,217,217);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 9%;
}
.prime-nav .logo>img{
   width:100%;
    height:85px;
}
/* .prime-nav .logo>h1{
    font-size: 35px;
    font-weight: bold;
    color:purple;
} */
.icons{
    width:35%;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-around;
}
.icons i{
    font-size: 3.2rem;
    color: purple;
    cursor: pointer;
    margin-right: 2rem;
    padding-top: 5px;
    /* border:1px solid yellow; */
}
.icons i:hover{
    color: var(--orange);
}
#search-bar{
    /* border:1px solid red; */
    width:78%;
    padding:1rem;
    margin-right: 20px;
    text-transform: none;
    color:#333;
    font-size: 1.7rem;
    border-radius: .5rem;
}
.small-nav-icon > a{
    padding: 0px 15px 0px 15px;
    text-decoration: none;
}

a{
text-decoration: none;
}
.second-nav{
    /* border:2px solid red; */
    width:50%;
    height:70px;
    margin: auto;
    margin-top: 15px;
}
.navbar{
    /* border:2px solid black; */
    height:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a{
    color:purple;
    font-size: 2.2rem;
    margin:.8rem;
    font-weight: bold;
}
.navbar a:hover{
    color: var(--orange);
}
#sort1{
    display: flex;
    text-align: center;
    margin: auto;
    width:200px;
    height:40px;
    font-size: 16px;
    font-weight: bold;
    color: purple;
    border: 1px solid purple;
}
#back {
     border: 2px solid purple;
    text-align: center;
    width: 15%;
     margin: auto;
     font-size: 18px;
     color:white;
     font-weight: bold;
     padding: 20px;
    background-color: purple;
     margin-top: 40px;
    margin-bottom: 40px;
 }
/* footer */
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    margin-top: 30px;
    background: Rgb(217,217,217);
    padding: 70px 0;
}
.footer-col{
    width:25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 20px;
    color:purple;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: bold;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height:2px;
    box-sizing: border-box;
    width:50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    line-height: 2rem;
    font-size: 15px;
    color:purple;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    transition:  all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height:40px;
    width:40px;
    background-color: purple;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

#product-container {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  #product-container > div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
  }
  #product-container > div > img {
    width: 100%;
    height: 200px;
  }
  #product-container > div > button {
    display: block;
    margin: auto;
  }

  #filter {
    display: block;
    margin: auto;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }










/* footer responsive */
@media(max-width:767px){
    .footer-col {
        width:50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col {
        width:100%;
        
    }
}

   


   


    /* @media screen and (max-width: 768px) {
      .productData {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    @media screen and (max-width: 480px) {
      .productData {
        grid-template-columns: 1fr;
      }
    }

    
@media screen and (max-width: 480px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px;
  }

  #navbar img:first-of-type {
    margin-bottom: 10px;
  }

  #navbar a {
    margin-right: 0;
    margin-bottom: 5px;
  }
}


@media screen and (max-width: 767px) {
  #search {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
  }

  #search i {
    margin-left: 0;
    margin-bottom: 10px;
  }

  #search input[type="text"] {
    width: 100%;
    margin-left: 0;
  }

  #search img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
} */